/* フォーム全般 */
.form-group {
    margin-bottom: 20px;
}

.register-page__title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
}

/* メインコンテンツ */
.site-main {
    width: 680px;
    display: block;
    margin: 0 auto;
    background: #fff;
    padding: 40px;
}

.form-group__label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 24px;
}

.form-group__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 24px;
}

/* 登録ボタン */
.register-form__submit {
    display: block;
    width: 100%;
    background: #FF5555;
    color: #fff;
    font-size: 26px;
    padding: 10px;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* ログインリンク */
.register-page__login-link {
    text-align: center;
    margin-top: 40px;
}

.register-page__login-link a {
    color: #0073CC;
    text-decoration: none;
    font-size: 20px;
}

/* エラーメッセージ */
.form-group__error {
    color: #e74634;
    font-size: 13px;
    height: 10px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-page {
        width: 680px;
    }
}

@media screen and (max-width: 850px) {
    .site-main
    .register-page {
        width: 500px;
        padding: 20px;
        display: block;
        margin: 0 auto;
    }

    .register-page__title {
        font-size: 24px;
    }

    .form-group__label,
    .form-group__input {
        font-size: 14px;
    }

    .register-form__submit {
        font-size: 18px;
        padding: 10px;
    }

    .register-page__login-link {
        margin-top: 20px;
    }
    .register-page__login-link a {
        font-size: 16px;
    }
}