/* フォーム全般 */
.form-group {
    margin-bottom: 20px;
}

.register-page__title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

/* メインコンテンツ */
.site-main {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 40px;
}

.form-group__label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px; 
    box-sizing: border-box;
}

/* 登録ボタン */
.register-form__submit {
    display: block;
    width: 100%;
    background: #FF5555;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    margin-top: 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ログインリンク */
.register-page__login-link {
    text-align: center;
    margin-top: 15px;
}

.register-page__login-link a {
    color: #0073CC;
    text-decoration: none;
}

/* エラーメッセージ */
.form-group__error {
    color: #e74634;
    font-size: 13px;
    height: 10px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .register-page {
        width: 680px;
    }

    .form-group__input {
        font-size: 16px;
    } }

@media screen and (max-width: 850px) {
    .site-main {
        width: 90%;
        margin: 0 auto;
    }
}