/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
# 秘密鍵など機密ファイルを除外
*.pem
*.key
docker/mysql/data/*.pem
/docker/mysql/data/