/* ===== 全体 ===== */
.address {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 20px;
    background-color: #fff;
}

/* ===== タイトル ===== */
.address__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

/* ===== フォーム ===== */
.address__form {
    display: flex;
    flex-direction: column;
}

/* ===== グループ ===== */
.address__group {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    margin-bottom: 30px;
}

.address__label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.address__input {
    padding: 12px 14px;
    font-size: 20px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.address__error {
    color: #FF5555;
    font-size: 20px;
    margin-top: 2px;
    width: 100%;
    min-height: 28px;
}

/* ===== ボタン ===== */
.address__actions {
    text-align: center;
    margin-top: 40px;
}

.address__submit {
    display: inline-block;
    background-color: #FF5555;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    width: 100%;

}

/* ===== PC (1400–1540px) ===== */
@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .address {
        max-width: 800px;
        padding: 80px 40px;
    }

    .address__title {
        font-size: 36px;
    }

    .address__input {
        font-size: 20px;
        padding: 14px 16px;
    }

    .address__submit {
        font-size: 22px;
        padding: 16px 40px;
    }
}

/* ===== タブレット (768–850px) ===== */
@media screen and (min-width: 768px) and (max-width: 850px) {
    .address {
        max-width: 70%;
        padding: 40px 20px;
    }

    .address__title {
        font-size: 26px;
    }

    .address__group {
        min-height: 120px;
        margin-bottom: 20px;
    }
    .address__input {
        font-size: 16px;
        padding: 10px 12px;
    }
    .address__error {
        font-size: 16px;
        min-height: 24px;
    }
    .address__label {
        font-size: 20px;
        margin-bottom: 6px;
    }
    .address__submit {
        font-size: 18px;
        padding: 12px 20px;
    }
}